-List 
- sequential(ordered)
- mixed datatype (heterogenous)
- can be empty
- can have duplicates
- is mutable (we can add or remove elements)
- represented as [] in python
- list function creates a list

what are you going to learn
- creation
- indexing and slicing
- methods
- comprehension

In [1]:
a = [] #empty

In [3]:
b = [23,34,12,56,78] #numeric
c = ['Alex','Ana','Billy'] #string
d = ['Alex',300,'Ana',320,'Billy',230] #mixed 
e = [[1,2,3],[2,3,4],[4,5,6]] #nested list(list within a list)
f = [1]*10 #duplicated list

In [5]:
print(b)
print(c)
print(d)
print(e)
print(f)

[23, 34, 12, 56, 78]
['Alex', 'Ana', 'Billy']
['Alex', 300, 'Ana', 320, 'Billy', 230]
[[1, 2, 3], [2, 3, 4], [4, 5, 6]]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [6]:
for i in d:
    print(i,end='.')

Alex.300.Ana.320.Billy.230.

In [7]:
word = 'wikipedia'
charlist = list(word)
print(charlist)

['w', 'i', 'k', 'i', 'p', 'e', 'd', 'i', 'a']

In [8]:
charlist[:4]

['w', 'i', 'k', 'i']

In [9]:
charlist[4:]

['p', 'e', 'd', 'i', 'a']

In [10]:
charlist[::-1]

['a', 'i', 'd', 'e', 'p', 'i', 'k', 'i', 'w']

In [13]:
charlist.reverse()

In [14]:
charlist[4] #indexing

'p'

**list has 11 methods**
- adding items
     - append()
     - insert()
     - extend()
- removing items
    - remove()
    - pop()
    - clear()
- utility
    - reverse()
    - count()
    - index()
    - copy()
    - sort()

In [15]:
numbers = []
numbers.append(2)
numbers.append(3)
numbers.append(5)
print(numbers)

[2, 3, 5]

In [18]:
for i in range(8):
    v = int(input("enter a number:"))
    numbers.append(v)
    print(numbers)

[2, 3, 5, 12, 134, 145, 512, 56668, 12]
[2, 3, 5, 12, 134, 145, 512, 56668, 12, 56]
[2, 3, 5, 12, 134, 145, 512, 56668, 12, 56, 89]
[2, 3, 5, 12, 134, 145, 512, 56668, 12, 56, 89, 7]
[2, 3, 5, 12, 134, 145, 512, 56668, 12, 56, 89, 7, 90]
[2, 3, 5, 12, 134, 145, 512, 56668, 12, 56, 89, 7, 90, 89]
[2, 3, 5, 12, 134, 145, 512, 56668, 12, 56, 89, 7, 90, 89, 78]
[2, 3, 5, 12, 134, 145, 512, 56668, 12, 56, 89, 7, 90, 89, 78, 999]

In [20]:
print(numbers)

[2, 3, 5, 12, 134, 145, 512, 56668, 12, 56, 89, 7, 90, 89, 78, 999]

In [23]:
numbers.remove(56668)

In [24]:
print(numbers)

[2, 3, 5, 12, 134, 145, 512, 12, 56, 89, 7, 90, 89, 78, 999]

In [25]:
numbers

[2, 3, 5, 12, 134, 145, 512, 12, 56, 89, 7, 90, 89, 78, 999]

In [26]:
numbers.insert(2, 4)
print(numbers)

[2, 3, 4, 5, 12, 134, 145, 512, 12, 56, 89, 7, 90, 89, 78, 999]

In [27]:
numbers.insert(23,31)#insert at index 23 will put the data at the end of list,as we don't have index 23 in list

In [28]:
print(numbers)

[2, 3, 4, 5, 12, 134, 145, 512, 12, 56, 89, 7, 90, 89, 78, 999, 31]

In [29]:
numbers.pop(3)#remove the data at index 3

5

In [30]:
print(numbers)

[2, 3, 4, 12, 134, 145, 512, 12, 56, 89, 7, 90, 89, 78, 999, 31]

In [31]:
numbers.pop()#removes the last item when nothing is written

31

In [32]:
print(numbers)

[2, 3, 4, 12, 134, 145, 512, 12, 56, 89, 7, 90, 89, 78, 999]

In [33]:
numbers.clear()
print(numbers)

[]

In [37]:
x =[1,2,3]
y =[2,3,5]
#merge a list into another
x.extend(y)
print(x)
print(y)
x.append(y)
print(x)

[1, 2, 3, 2, 3, 5]
[2, 3, 5]
[1, 2, 3, 2, 3, 5, [2, 3, 5]]

In [39]:
z = x+y
print(z)

[1, 2, 3, 2, 3, 5, [2, 3, 5], 2, 3, 5]

In [40]:
del a #to delete variable from memory

In [41]:
del b[2] #this is not the best idea use pop() instead

In [42]:
del b 
del c

In [45]:
#prime no. program
primes = []
for num in range(2,1000):
    for i in range(2,num):
        if num % i == 0:
            break
    else:
        primes.append(num)
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

**wap a program to calculate the total of a list,where the valuers are entered by user.**

In [2]:
x = [] #empty list
for i in range(5):#repeat 5 times
    inp = int(input('>enter value:'))#take user input
    x.append(inp)#add user input to list
total = sum(x)
print("total=>",total)

total=> 60

In [5]:
#enumerate function
for i,v in enumerate(x):
    print(i,v)

0 12
1 12
2 12
3 12
4 12

**wap a program to remove every 3 item from a list**

In [9]:
a = [11,22,33,44,55,66,77,88,99,100]
ev3 = []
for i,v in enumerate(a):
    pos = i+1
    if pos%3 == 0:
        ev3.append(v)
print(ev3)
for item in ev3:
    a.remove(item)
print(a)

[33, 66, 99]
[11, 22, 44, 55, 77, 88, 100]

**wap to add every 3 item from a list,and store the result at the end of the list**

In [10]:
x = [1,2,3,1,2,3,1,2,3,1,2,3,1,2,3,1,2,3,1,2,3,1,2,3,1,2,3,1,2,3,1,2,3]

In [11]:
x.count(3)

11

In [12]:
x.count(7)

0

In [18]:
names = ['Desmont','Alex','Samus','Jerry','Freddy','August']
names.index('Alex')

1

In [19]:
names.index('August')

5

In [20]:
names.reverse()
print(names)

['August', 'Freddy', 'Jerry', 'Samus', 'Alex', 'Desmont']

In [21]:
names.sort()
print(names)

['Alex', 'August', 'Desmont', 'Freddy', 'Jerry', 'Samus']

In [22]:
x.sort()
print(x)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

In [23]:
x.sort(reverse=True)
print(x)

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [24]:
names.sort(reverse=True)
print(names)

['Samus', 'Jerry', 'Freddy', 'Desmont', 'August', 'Alex']

In [25]:
names

['Samus', 'Jerry', 'Freddy', 'Desmont', 'August', 'Alex']

In [26]:
backup = names#reference to the same list

In [27]:
backup_v2 = names.copy()#copy the list

In [28]:
names.remove('Samus')

In [29]:
backup_v2.append('Markus')

In [30]:
print(names)
print(backup)
print(backup_v2)

['Jerry', 'Freddy', 'Desmont', 'August', 'Alex']
['Jerry', 'Freddy', 'Desmont', 'August', 'Alex']
['Samus', 'Jerry', 'Freddy', 'Desmont', 'August', 'Alex', 'Markus']