In [1]:
x = [3,4,6,9,7]
x2 = []
for i in x:
    sqr = i**2
    x2.append(sqr)
print(x)
print(x2)

[3, 4, 6, 9, 7]
[9, 16, 36, 81, 49]

In [2]:
x = [3,4,6,9,7]
x3 = []
x3 = [i**2 for i in x]# comprehension 
print(x3)

[9, 16, 36, 81, 49]

# comprehension - when you want to create a new list from exixting list
**newlist = [operation loop condition]**

**comprehension works on dictionaries and sets**

In [3]:
a = [2,5,8,1,6,2,5,10]
even_a = [i for i in a if i%2 == 0]
print(even_a)

[2, 8, 6, 2, 10]

In [6]:
names = ['Aparna Sharma','Satyam Tiwari','Srishti Mishra']
initial_names = [f'{n.split()[0][0]}{n.split()[-1][0]}' for n in names]
print(initial_names)

['AS', 'ST', 'SM']

In [14]:
x = {1,2,3,41,23,123}
print(x)

{1, 2, 3, 23, 41, 123}

In [16]:
x3 = {i**3 for i in x}
print(x,x3)

{1, 2, 3, 23, 41, 123} {1, 1860867, 12167, 8, 68921, 27}

In [8]:
rainfall = {
    '2001':350,
    '2002':400,
    '2003':510,
    '2004':600,
    '2005':700,
}

In [9]:
rainfall_norm = {i[0]:i[1]/700 for i in rainfall.items()}

In [12]:
print(rainfall_norm)

{'2001': 0.5, '2002': 0.5714285714285714, '2003': 0.7285714285714285, '2004': 0.8571428571428571, '2005': 1.0}

In [10]:
rainfall_norm

{'2001': 0.5,
 '2002': 0.5714285714285714,
 '2003': 0.7285714285714285,
 '2004': 0.8571428571428571,
 '2005': 1.0}

**wap to create a program that makes a list of numbers and then generate a list of all even nums and odd nums separated using comprehension**

In [15]:
nums = [1,2,3,4,5,6,7,8,9,10]
even_n = [i for i in nums if i%2 == 0]
odd_n = [i for i in nums if i%2 != 0]
print(even_n)
print(odd_n)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]